@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: 'DM Sans', sans-serif;
}

.small-text{
  font-weight: 400;
  font-size: small;
}

a{
  text-decoration: none;
}

a:hover{
  color: #059669;
}

.container{
  margin-bottom: 100px;
}

.hero{
  margin-top: 10rem;
}

.signup-btn{
  color: white;
  background-color: #059669;
  padding: 5px;
  width: 10rem;
  height: 3rem;
}
.signup-btn:hover{
  background-color: black;
  color: white;
}



